<%include ../header.ejs%>


<%include ../left_menu.ejs%>

<!-- Right side -->
<div id="rightSide">

  <!-- Account panel top -->

  <div class="topNav">
    <div class="wrapper">
      <div class="welcome">
        <span>Xin chào: <b>admin!</b></span>
      </div>

      <div class="userNav">
        <ul>
          <li><a href="" target="_blank">
              <img style="margin-top:7px;" src="http://localhost:3000/images/admin/icons/light/home.png" />
              <span>Trang chủ</span>
            </a></li>

          <!-- Logout -->
          <li><a href="admin/home/logout.html">
              <img src="http://localhost:3000/images/admin/icons/topnav/logout.png" alt="" />
              <span>Đăng xuất</span>
            </a></li>

        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div>

  <!-- Main content -->

  <!-- Title area -->
  <div class="titleArea">
    <div class="wrapper">
      <div class="pageTitle">
        <h5>Bảng điều khiển</h5>
        <span>Trang quản lý chứng chỉ</span>
      </div>

      <div class="clear"></div>
    </div>
  </div>

  <div class="line"></div>

  <!-- Main content wrapper -->
  <div class="wrapper">

    <!-- Form -->
    <form class="form"  enctype="multipart/form-data">
      <fieldset>
        <div class="widget">
          <div class="title">
            <img src="http://localhost:3000/images/admin/icons/dark/add.png" class="titleIcon" />
            <h6>Thông tin</h6>
          </div>

          <ul class="tabs">
            <li><a href="#tab1">Thông tin về chứng chỉ</a></li>
          </ul>

          <div class="tab_container">
            <div id='tab1' class="tab_content pd0">
              <div class="formRow">
                <label class="formLeft" for="param_name">Identity:<span class="req">*</span></label>
                <div class="formRight">
                  <span class="oneTwo">
                    <%=cert.Identity%>
                  </span>
                  <span name="name_autocheck" class="autocheck"></span>
                  <div name="name_error" class="clear error"></div>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label class="formLeft" for="param_name">Id_user:<span class="req">*</span></label>
                <div class="formRight">
                  <span class="oneTwo">
                   <%=cert.Id_user%>
                  </span>
                  <span name="name_autocheck" class="autocheck"></span>
                  <div name="name_error" class="clear error"></div>
                </div>
                <div class="clear"></div>
              </div>


              <div class="formRow">
                <label class="formLeft" for="param_name">R:<span class="req">*</span></label>
                <div class="formRight">
                  <span class="oneTwo">
                      <%=cert.R%>
                  </span>
                  <span name="name_autocheck" class="autocheck"></span>
                  <div name="name_error" class="clear error"></div>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label class="formLeft" for="param_name">Cert:<span class="req">*</span></label>
                <div class="formRight">
                  <span class="oneTwo cert" style=" width: 45em; word-wrap: break-word">
                    <%=cert.cert%>
                  </span>
                  <span name="name_autocheck" class="autocheck"></span>
                  <div name="name_error" class="clear error"></div>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label class="formLeft" for="param_name">Time Valid:<span class="req">*</span></label>
                <div class="formRight">
                  <span class="oneTwo">
                    <%=cert.timeValid%>
                  </span>
                  <span name="name_autocheck" class="autocheck"></span>
                  <div name="name_error" class="clear error"></div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="formRow">
                <label class="formLeft" for="param_cat">Validate:<span class="req">*</span></label>
                <div class="formRight">
                  <select class="custom-select form-control ">
                    <%if(cert.validate == 'true'){%>
                    <option value="true" class="true" selected>true</option>
                    <option value="flase" class="flase" >flase</option>
                    <%} else {%>
                    <option value="true" class="true"  >true</option>
                    <option value="flase" class="flase" selected >flase</option>
                    <%}%>
                  </select>
                  <span name="cat_autocheck" class="autocheck"></span>
                  <div name="cat_error" class="clear error"></div>
                </div>
                <div class="clear"></div>
              </div>

            </div>
          </div>

          <!--<div class="formSubmit">-->
            <!--<input type="button" value="Save" class="redB" />-->
          <!--</div>-->
          <div class="clear"></div>
        </div>
      </fieldset>
    </form>
  </div>

  <script>
      $('.cert .exp').attr( "id",'current' );
      $('.cert .exp').addClass('active')
      $('.listCert').css("color"," #efefef");
      $( document ).ready(function() {
          $( ".custom-select" ).change(function () {
              $.ajax({
                  url: '/admin/cert/<%=cert.Identity%>',
                  type: 'POST',
                  dataType: 'json',
                  data: {
                      Identity: "<%=cert.Identity%>",
                      validate:$(".custom-select").val()
                  }
              }).done(function(ketqua) {
                  if(true){
                      window.location.replace("/admin/cert");
                  }
              });
          })

      });
  </script>
<%include ../footer.ejs%>