<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
    <% include header.ejs%>
  <link rel="stylesheet" href="/stylesheets/side/user/dangky.css">
  <link rel="stylesheet" href="/javascripts/bootrap-form-helper/css/bootstrap-formhelpers.min.css"></link>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/side/dangky.js"></script>
</head>
<body >
<% include ../menu.ejs%>

<div class="container content">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="glyphicon glyphicon-folder-close"> </span>
                Tài Khoản
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="list-group">
              <a href="#" class="list-group-item active">
                Thông tin
              </a>
              <a href="#" class="list-group-item">Đơn hàng</a>
              <a href="#" class="list-group-item">Đổi mật khẩu</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <span class="glyphicon glyphicon-file"></span>
                Danh sách
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item active">
                Tạo chứng chỉ số
              </a>
              <a href="#" class="list-group-item">CA</a>
              <a href="#" class="list-group-item">Chữ ký số</a>
              <a href="#" class="list-group-item">Verify chữ ký</a>
              <a href="#" class="list-group-item">Private Key</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-heart">
                             </span>Phản hồi</a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Chân thành cảm ơn đóng góp của quý khách</h4>
                <p class="list-group-item-text">Mọi đóng góp của quý khách giúp chúng tôi hoàn thiện hệ thống tốt hơn.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 infor">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sửa thông tin</h3>
        </div>
        <div class="panel-body" style="margin: 15px 0px;">
          <form action="" method="post" id="form-post" >

            <div class=" row form-row" style="margin: 0px">
              <div class="form-group col-lg-6">
                <label for="inputFirstName">First Name</label>
                <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name" value="<%= data.firstName%>">
              </div>
              <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name" value="<%= data.lastName%>">
              </div>
            </div>

            <div class="row form-row" style="margin-bottom: 0px;margin-top: 0px;">
              <div class="form-group col-md-6" style=";margin-bottom: 0px">
                <label for="inputEmail">Address</label>
              </div>
              <div class="form-group col-md-6" style="margin-bottom: 0px">
                <label for="inputEmail">Address</label>
              </div>
            </div>

            <div id="countries_states2" class=" form-group col-md-6 bfh-selectbox bfh-countries" data-name="country" data-country="VN" data-flags="true">
              <input type="hidden" name="country" value="<%= data.country%>" >
              <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#"> <span class="bfh-selectbox-option input-medium" data-option=""></span> <b class="caret"></b> </a>
              <div class="bfh-selectbox-options" style="margin: 15px">
                <div role="listbox">
                  <ul role="option" > </ul>
                </div>
              </div>
            </div>
            <div class=" form-group col-md-6 bfh-selectbox bfh-states" data-name="states" data-country="countries_states2">
              <input type="hidden" name="states" value="<%= data.states%>" >
              <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#"> <span class="bfh-selectbox-option input-medium" data-option=""></span> <b class="caret"></b> </a>
              <div class="bfh-selectbox-options" >
                <div role="listbox">
                  <ul role="option" > </ul>
                </div>
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label for="inputCompany" style="font-weight: 500">Company</label>
              <input type="text" name="company" class="form-control" id="inputCompany" placeholder="Company" value="<%= data.company%>">
            </div>
            <div class="form-group col-md-6">
              <label for="inputWeb" style="font-weight: 500">Web Address</label>
              <input type="text" name="webAddress" class="form-control" id="inputWeb" placeholder="Web Address" value="<%= data.webAddress%>">
            </div>

            <div class="form-group col-md-8">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <% include ../footer.ejs%>
</footer>

</body>
</html>