<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
    <% include header.ejs%>
  <link rel="stylesheet" href="/stylesheets/side/user/dangky.css">
  <link rel="stylesheet" href="/javascripts/bootrap-form-helper/css/bootstrap-formhelpers.min.css"></link>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/side/dangky.js"></script>
</head>
<body >
<% include menu.ejs%>

<div class="container content">
  <div class="row">
      <%include menudoc.ejs%>
    <div class="col-sm-9 col-md-9 infor">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sửa thông tin</h3>
        </div>
        <div class="panel-body" style="margin: 15px 0px;">
          <form action="" method="post" id="form-post" >

            <div class=" row form-row" style="margin: 0px">
              <div class="form-group col-lg-6">
                <label for="inputFirstName">First Name</label>
                <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name" value="<%= user.firstName%>">
              </div>
              <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name" value="<%= user.lastName%>">
              </div>
            </div>

            <div class="row form-row" style="margin-bottom: 0px;margin-top: 0px;">
              <div class="form-group col-md-6" style=";margin-bottom: 0px">
                <label for="inputEmail">Address</label>
              </div>
              <div class="form-group col-md-6" style="margin-bottom: 0px">
                <label for="inputEmail">Address</label>
              </div>
            </div>

            <div id="countries_states2" class=" form-group col-md-6 bfh-selectbox bfh-countries" data-name="country" data-country="VN" data-flags="true">
              <input type="hidden" name="country" value="<%= user.country%>" >
              <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#"> <span class="bfh-selectbox-option input-medium" data-option=""></span> <b class="caret"></b> </a>
              <div class="bfh-selectbox-options" style="margin: 15px">
                <div role="listbox">
                  <ul role="option" > </ul>
                </div>
              </div>
            </div>
            <div class=" form-group col-md-6 bfh-selectbox bfh-states" data-name="states" data-country="countries_states2">
              <input type="hidden" name="states" value="<%= user.states%>" >
              <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#"> <span class="bfh-selectbox-option input-medium" data-option=""></span> <b class="caret"></b> </a>
              <div class="bfh-selectbox-options" >
                <div role="listbox">
                  <ul role="option" > </ul>
                </div>
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label for="inputCompany" style="font-weight: 500">Company</label>
              <input type="text" name="company" class="form-control" id="inputCompany" placeholder="Company" value="<%= user.company%>">
            </div>
            <div class="form-group col-md-6">
              <label for="inputWeb" style="font-weight: 500">Web Address</label>
              <input type="text" name="webAddress" class="form-control" id="inputWeb" placeholder="Web Address" value="<%= user.webAddress%>">
            </div>

            <div class="form-group col-md-8">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <% include ../footer.ejs%>
</footer>
<script>
    $('.list-group a').removeClass( "active" )
    $('.panel-collapse').removeClass( "in " )
    $('.donhang').addClass( "in" );
    $('.thongtin').addClass("in");
</script>
</body>
</html>